<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name = "viewport" content="width = device-width, initial-scale = 1, user-scalable = 0">
	<title>erhua的主页</title>
	<!-- 引用他人的 -->
	<script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
	<link href="../static/css/jquery-weui.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
	<!-- 引用自己的 -->
    <script src="../static/js/app.js"></script>
    <link href="../static/css/app.css" rel="stylesheet">


</head>
<body ontouchstart>
<!-- 为顶端信息栏留空 -->
	
	此人放弃参与

</body>
</html>
