body{
	border-style: solid;
	border-color: rgba(255,153,153,0.5);
}
.head_img{
	width:100px;
	height:100px;
	margin: 0 auto;
	display:block;
	border-radius:100%;
	border-style: solid;
	border-color: rgba(255,153,153,0.5);
}
h1.name_title{
	text-align: center;
	font-size: 18px;
}
p.description_sth{
	font-family: "Times New Roman";
	text-align: center;
	font-size:13px;
}

	